<link rel="stylesheet" href="/css_files/layout.css">

<footer class="footer" style="text-align: end;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="list-inline social-icons" style="text-align: end; margin-top: 10px;"> 
            <ul style="text-align: start;">
              <li><a href="/" style="text-decoration: none; "><span class="material-icons" style="margin-left: 10px;"> home </span></a></li>
            </ul>
            <span class="contact">contact me</span>           
            <li class="list-inline-item">
              <a href="https://github.com/Saurabhdixit93" target="_blank"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/saurabhdixit93" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
          <hr style="background-color: white;">
        </div>
      </div>
      <p class="text-center">© <span style="color: rgb(0, 204, 255);">Saurabh Dixit </span> 2022-2023. All Rights Reserved.</p>
    </div>
</footer>