<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="shortcut icon" href="/images/download.png" type="image/x-icon">
     <!-- Local Css -->
    <link rel="stylesheet" href="/css_files/first_Page.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <!-- header part -->
 <header style="background-color: #707070 !important;">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #124569;">
        <a class="navbar-brand" href="/user" id="access-free" style="display: none;"> 
            Get-Free Access
            <span class="material-symbols-outlined">
                earbuds
            </span>
        </a>
        <button class="log accessbutton" onclick="document.getElementById('access-free').click()">
            Get-Free Access
        </button>
    </nav>
 </header>
 <!-- main part -->
    <main>
        <form id="signup-form" action="/users/create" method="post">
            <h2 style="margin-left: 30%;">Sign Up</h2>
            <hr style="background-color: white;">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="name" required placeholder="Full Name..">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required placeholder="email..">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="password..">
            <label for="password">Confirm-Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm-Password..">
            <div style="margin-bottom: 20px;margin-left: 10px;">
                <span class="password-toggle"><i class="fas fa-eye-slash" id="toggle-icon"></i></span>
            </div>
            <button type="submit">Sign Up</button>
            <div class="form-links">
                <a href="/users/signin">Already have an account?</a>
            </div>
            <div style="text-align: center;margin-top: 5px; color: white;">
                <p>Or</p>
            </div>
            <hr style="background-color: white !important; ">
            <div class="google-signin">
                <a class="btn-google" href="/users/auth/google" style="text-decoration: none;">
                  <img src="https://developers.google.com/identity/images/g-logo.png"/>
                  Sign in with Google
                </a>
            </div>
        </form>
    </main>
    <!-- locals Script File -->
    <script src="/script_files/first_Page.js"></script>
</body>
</html>