<title><%= title %></title>
<link rel="stylesheet" href="/css_files/password.css">
  <% if (message) { %>
      <div id="alert-message" class="alert alert-<%= message.type %>">
        <%= message.text %>
      </div>
    <% } %>
    
    <form action="/auth/forgot-password" method="post" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="email">Email Address</label>
          <div class="input-group">
            <input type="email" name="email" class="form-control" required>
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
    <script src="/script_files/validation.js"></script>
    <script>
      // Hide alert message after 10 seconds
      setTimeout(function() {
        document.getElementById('alert-message').style.display = 'none';
      }, 10000);
    </script>
    