<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- bootstrap link -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Local css -->
	<link rel="stylesheet" type="text/css" href="/css_files/home.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- for fontawesome -->
    <script src="https://kit.fontawesome.com/3b91611922.js" crossorigin="anonymous"></script>
    
	<!-- title -->
	<title><%= title %></title>
	<link rel="shortcut icon" href="/images/download.png" type="image/x-icon">
</head>
<body>
	<!-- header part -->
	<header style="background-color: #707070 !important;">
		<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #124569;">
			<% if(locals.user){%> 
				<a class="button nav-link navbar-brand" href="/users/sign_out">
					<span class="btn">Logout</span>
				</a>
				<a class="nav-link" href="/users/profile/<%= user.id %>" style="color: white;">
				<span class="user-name">
					<%= user.name%>
					<span class="material-symbols-outlined">
					new_releases
					</span> 
				</span>
				</a>
			<%}else if(!locals.user){%>
				<div style="padding: 5px;">
					<a id="signup" class="navbar-brand " style="color: white; display: none;" href="/users/signup" >
						<span class="material-symbols-outlined">
							login
						</span>
					</a>
					<button class="signupbutton" type="submit" onclick="document.getElementById('signup').click()" ><span>Signup</span> 
						<i class="fa-solid fa-right-to-bracket"></i>
					</button>
				</div>
			<%}%>
		</nav>
	</header>
	<!-- main part -->
	<main style="margin-bottom: 40px;">
		<h1 class="h1_style">CSV Reader</h1>
		<p class="p_style">CSV file reader which shows its content in tabular form</p><hr>
		<p class="form_desc">Click here to upload file (Only .CSV)</p>
		<form action="/file/upload_file" method="post" enctype="multipart/form-data" class="file-upload-form">
			<label for="uploaded_file" class="file-upload-label"><i class="fas fa-cloud-upload-alt"></i> Choose file</label>
			<input type="file" accept=".csv" name="uploaded_file" id="uploaded_file" required>
			<div id="filename"></div>
			<button type="submit" class="submit_button"><i class="fas fa-upload"></i> Upload</button>
		</form>
		<div id="files_container">
			<p style="color: white;
			font-size: 15px; margin-left: 40%;">File Lists </p>
			<% if(files.length===0){%>
				<p style="text-align: center; font-weight: bold;font-family: Verdana;">No Files uploaded yet </p>
			<%}else{%>
			<% for(let i=0;i<files.length;i++){ %>
				<div class="file">
					<div class="file_name"><i class="fas fa-file"></i> <%=files[i].substring(0,12) %></div>
					<div class="file_open_button"><a href="/file/open_file/?index=<%= i %>">OPEN</a></abbr></div>
					<a href="/file/delete_file/?index=<%= i %>"><i class="fas fa-trash"></i></a>
				</div>
			<% } %>
			<%} %>
		</div>
	</main>
	<script src="/script_files/home.js"></script>
	<!-- bootstrap bundle script CDN -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
