<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap link -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Local css -->
	<link rel="stylesheet" type="text/css" href="/css_files/main_view.css">
	<!-- Font-Awesome Link -->
	<script src="https://kit.fontawesome.com/1dd5c5cd8c.js" crossorigin="anonymous"></script>
	<title><%= title %></title>
    <link rel="shortcut icon" href="/images/download.png" type="image/x-icon">
      <style>
        footer{
            background-color: transparent !important;
        }
        header{
            background-color: transparent !important;
        }
        body{
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <header>
        <div id="home_button">
            <ul style="text-align: start; list-style: none;">
                <li><a href="/user" style="text-decoration: none; " id="home_buttton"></a></li>
                <button type="submit" class="homebutton" onclick="document.getElementById('home_buttton').click()">
                    <span class="material-icons"> home </span>
                </button>
            </ul>
        </div>
        <form id="search_Form" action="javascript:search();">
            <div class="input_group">
                <input type="text" id="search_Item" class="form_control" placeholder="Search Record..." required style="border-radius: 20px;">
                <button id="go" class="btn btn_default" style="display: none;" type="button"></button>
                <span class="material-icons" style="cursor: pointer;" onclick="document.getElementById('search_Form').submit();">
                    search
                </span>
            </div>
            </form>
            <div>
            <span id="total_rows"> Total Rows: <%= csvData.length%></span>
            </div>
    </header>
    <hr>
    <div id='table_container' style="margin-bottom: 5rem;">
        <table style="width:100%">
            <tr>
                <% for (const [key, value] of Object.entries(csvData[0])) { %>
                    <th><%= key %></th>
                <% } %>
            </tr>
            <% for(let i=0;i<csvData.length;i++) { %>
            <tr id="row-<%= i %>">
                <% for(const [key, value] of Object.entries(csvData[i])) { %>
                    <td class="col_md_2"><%= value %></td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
    <!-- back to top -->
    <button id="back-to-top"> &#8593;</button>
    <!-- bootstrap bundle script CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Local Script -->
    <script type="text/javascript" src="/script_files/main_view.js"></script>
</body>
</html>
