<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- link Fevicon -->
    <link rel="shortcut icon" href="/images/download.png" type="image/x-icon">
     <!-- Local Css -->
     <link rel="stylesheet" href="/css_files/first_Page.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
<body>
    <!-- Header Part -->
 <header style="background-color: #707070 !important;">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #124569;">
        <a class="navbar-brand" href="/user" id="access-free" style="display: none;"> 
            Get-Free Access
            <span class="material-symbols-outlined">
                earbuds
            </span>
        </a>
        <button class="log accessbutton" onclick="document.getElementById('access-free').click()">
            Get-Free Access
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
 </header>
 <!-- Main Part -->
 <!-- Alert messages -->
<% if (message) { %>
    <div id="alert-message" class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
  <% } %>
  <!-- Alert messages end -->
    <main>
        <form id="login-form" action="/users/create_session" method="post">
            <h2 style="margin-left: 30%;">Login</h2>
            <hr style="background-color: white;">
            <label for="email">Email:</label>
            <input type="email" name="email" required placeholder="email.."/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password.." required>
            <button type="submit">Login</button>
           <div class="linkforgot" style=" text-align: end; margin-top: 5px;">
            <a href="/auth/passwor-reset-form" class="forgot-password-button">
                <i class="fas fa-lock"></i>
                forgot-Password ?
            </a>
           </div>
            <div class="form-links">
                <a href="/users/signup">Create New Account ?</a>
            </div>

            <div style="text-align: center;margin-top: 5px; color: white;">
                <p>Or</p>
            </div>
            <hr style="background-color: white !important; ">
            <div class="google-signin">
                <a class="btn-google" href="/users/auth/google" style="text-decoration: none;">
                  <img src="https://developers.google.com/identity/images/g-logo.png"/>
                  Sign in with Google
                </a>
            </div>
        </form>
    </main>
</body>
</html>
<script>
    // Hide alert message after 5 seconds
    setTimeout(function() {
      document.getElementById('alert-message').style.display = 'none';
    }, 5000);
  </script>
