<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <!-- Local css -->
    <link rel="stylesheet" href="/css_files/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="shortcut icon" href="/images/download.png" type="image/x-icon">
</head>
<body>
    <!-- header part -->
    <header style="background-color: #707070 !important;">
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #124569;">
            <a class=" username nav-link" href="/users/profile/<%= user.id %>">
                <span class="user-name">
					<%= user.name%>
					<span class="material-symbols-outlined">
					new_releases
					</span> 
				</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="button nav-link" href="/user">
                    <span class="btn">Home</span>
                </a>
                </li>
                <li class="nav-item active">
                    <% if(locals.user) {%> 
                        <a class="button nav-link" href="/users/sign_out">
                            <span class="btn">Logout</span>
                        </a>
                    <%} %>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    <!-- main part -->
    <main>
        <% if(locals.user) {%> 
            <h1>User Details</h1>
            <div class="user-details">
                <p><span>Name:  </span> <%= user.name %></p>
                <p><span>Email: </span><%= user.email %> </p>
            </div>
        <%}%>
    </main>

</body>
</html>