body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 39, 72);
  }
   /* Styling for the main content area */
   main {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  /* Styling for the logo */
  /* Styling for the login and signup forms */
  form {
    background-color: #3f5b78;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 10px;
    padding: 20px;
    max-width: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  form h2 {
    margin-top: 0;
  }
  form input[type=text], form input[type=password], form input[type=email] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  form button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  form button:hover {
    background-color: #45a049;
  }
  /* Styling for the login and signup form links */
  .form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .form-links a {
    color: #4CAF50;
    text-decoration: none !important;
    transition: background-color 0.2s;
  } 
  
.btn-google {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #707070;
    display: inline-block;
    font-size: 16px;
    /* font-weight: bold; */
    margin-top: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-google:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }
  
  .google-signin {
    text-align: center;
  }
  .btn-google img{
    width: 20px;
    height: 20px;
    margin-left: -8px;
  }
.password-toggle{
   transform: translateY(-50%);
   width: 30px;
   height: 30px;
   background-image: url();
   background-size: cover;
   cursor: pointer;
}
  .fa-eye-slash:before {
    content: "\f070";
  }
  .fa-eye:before {
    content: "\f06e";
  }
  .accessbutton {
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
  }
  .log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
  }
  
  .accessbutton:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }

  /* forgot password button */
   .forgot-password-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    color: #000000;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .forgot-password-button:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .forgot-password-button i {
    margin-right: 6px;
    font-size: 12px;
  }
 
  /* media queries */
  @media screen and (max-width: 600px) {
    form{
        font-size: 13px !important;
    }
    form input[type=text], form input[type=password], form input[type=email] {
        font-size: 10px;
        margin-bottom: 5px;
        padding: 5px;
        width: 100%;
    }
  }
