body{
	margin: 0.01;
	padding: 0.01;
	background-color: rgb(4, 39, 72);
	height: 99vh;
	width: 99vw;
}
main{
	position: relative;
	height: 80%;
	width: 69.9%;
	top: 9.9%;
	left: 14.9%;
	margin-bottom: 15%;
	border-radius: 4.9px;
	background: rgba(95, 83, 83, 0.621);
	box-shadow: 0px 0px 8px 1px rgba(181, 228, 242, 0.915);
}
.h1_style{
	text-align: center;
	font-size: 4.9rem;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 499;
	color: rgba(244, 238, 238, 0.97);
	text-decoration: important;
}
.p_style{
	text-align: center;
	font-size: 0.99rem;
	font-family: 'Times New Roman', Times, serif;
	color: #d3a081;
	margin-top: -9.9px;
}
form{
	text-align: center;
	margin-bottom: 1.35rem;
}
input{
	color: rgb(12, 12, 12);
	text-align: center;
	font-family: unset;
	border: none;
	background: #ede9e9;
}
.submit_button{
	background: #e03030;
	color: rgb(243, 233, 233);
	font-size: 0.9rem;
	border: none;
}
hr{
	color: rgb(246, 242, 242);
}
.form_desc{
	margin-top: 1.49rem;
	font-weight: 399;
	color: #d6a283;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 1.19rem;
}
#files_container{
	width: 39.9%;
	height: 40.9%;
	overflow: auto;
	background: rgba(92, 232, 242, 0.2);
	margin: auto;
}
.file{
	width: 89.9%;
	height: 19.9%;
	margin: auto;
	background: rgb(12, 12, 12);
	margin-top: 0.99rem;
	display: flex;
	justify-content: space-between;
	padding: 0.89rem;
}
.file_name{
	color: rgba(210, 200, 200, 0.913);
	width: 75%;
}
.file_open_button{
	background: rgb(7, 7, 249);
	width: 2.9rem;
	text-align: center;
	max-height: 27px;
}
.file_open_button:hover{
	opacity: 0.49;
}
.file_open_button a{
	text-decoration: none;
	color: rgb(212, 206, 206);
	font-size: 0.79rem;
}
.file a{
	text-decoration: none;
	color: rgb(205, 198, 198);
	margin-top: 0.09rem;
}
::-webkit-scrollbar {
    display: none;
}

.file-upload-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	font-family: Arial, sans-serif;
  }
  
  .file-upload-label {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 150px;
	border: 2px solid #ccc;
	border-radius: 20px;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  }
  
  .file-upload-label:hover {
	background-color: #000000;
  }
  
  #filename{
	color: aqua;
	max-width: 50px;
	overflow: scroll;
	max-height: 40px;

}
  #uploaded_file {
	display: none;
  }
  
  .submit_button {
	margin-left: 5px;
	padding: 5px 10px;
	background-color: #0051ff;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  }
  
  .submit_button:hover {
	background-color: #2d4373;
  }

  .signupbutton{
	background-color: #C2FBD7;
	border-radius: 50px;
	border-width: 0;
	box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
	color: #008000;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 1em;
	height: 40px;
	padding: 0 25px;
	transition: all 200ms;
	}
	.signupbutton:hover{
		background-color: #AFE6C3;
		transform: scale(1.05);
	}
	.btn{
		display: block;
		width: 100%;
		height: 30px;
		border-radius: 25px;
		outline: none;
		border: none;
		background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
		background-size: 200%;
		font-size: 15px;
		color: #fff;
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		margin: 5px 0;
		cursor: pointer;
		transition: 777ms;
	  }
	  .btn:hover{
		background-position: right;
		display: block;
		background-image: linear-gradient(to left, aqua, #38d39f, lightcyan);
		transform: scale(104%);
	  }
/* Media Queries */
@media screen and (max-width:600px) {
	html{
		font-size: 8.9px;
	}
	main{
	    height: 79.9%;
	    width: 89.9%;
	    top: 5.1%;
	    left: 5.1%;
	}
	#files_container{
		width: 80.1%;
		height: 56%;
	}
	.file{
		width: 89.9%;
		height: 14.9%;
		padding: 1.19rem;
	}
	.file_open_button a{
		font-size: 0.79rem;
	}
	.file_open_button{
		width: 2.9rem;
		height: 1.5rem;
	}
	.h1_style{
		margin-top: 0.99rem;
	}
}
@media screen and (min-width:768px){
	main{
		height: 100%;
	}#files_container{
		width: 50.9%;

	}

}
@media screen and (min-width:1023px){
	main{
		height: 74%;
	}
	#files_container{
		width: 48.9%;
	}
}
