footer{
    color: white !important;
}
.contact{
    text-transform: capitalize;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.footer{
    background-color:#124569;
    padding: 0;
    color: black;
  }
  .contact{
    color: black;
    font-weight: bold;
  }
  footer {  
   padding: 20px 0;
   margin-top: 10px;
 }
 
 footer h4 {
   font-weight: bold;
   margin-bottom: 20px;
 }
 
 footer ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
 footer ul li {
   margin-bottom: 10px;
 }
 
footer ul li a {
  color: #000000;
}
footer ul li a:hover {
  color:rgb(255, 255, 255);
  transition: all 0.2s ease-in;
}
 
 footer p {
   margin-bottom: 0;
 }
 
 footer hr {
   margin: 30px 0;
 }
 
 footer p.text-center {
   color: #000000;
   font-size: 14px;
 }
 
 @media (max-width: 767px) {
   footer h4 {
     margin-top: 20px;
   }
   
   footer .row {
     flex-direction: column;
   }
   
   footer .col-md-6,
   footer .col-lg-4 {
     margin-bottom: 30px;
   }
 }
 @media screen and(max-width: 600px) {
  .footer{
    margin-top: 3.5rem !important;
  }
 }
@media screen and (max-width:600px) {
    .text-center{
        font-size: 13px;
    }    
}

.invalid-feedback {
    color: #ff0019;
    font-size: 0.875rem;
    display: none;
  }
  
  input:invalid + .invalid-feedback {
    display: block;
    margin-top: 0.25rem;
  }