body{
    height: 40vh;
    background-color:#124569;
    color: black;
  }
    /* Center the form vertically and horizontally */
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    /* Add a shadow to the form */
    form {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 10px;
      height: 50vh;
    }
    
    /* Style the form inputs */
    .form-group {
      margin-bottom: 1rem;
    }
    
    label {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: white;
    }
    
    input {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    input:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      border-color: #80bdff;
    }
    
    .invalid-feedback {
      color: #ff0019;
      font-size: 0.875rem;
      display: none;
    }
    
    input:invalid + .invalid-feedback {
      display: block;
      margin-top: 0.25rem;
    }
    
    /* Style the submit button */
    button[type="submit"] {
      width: 200px;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;
    }
    
    button[type="submit"]:hover {
      background-color: #0069d9;
    }